/* =======================================================
   General
   ======================================================= */
body {
  padding: 0; 
  margin: 0;
  font: 14px/26px 'Montserrat', sans-serif;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #a5d1db;
}
img {
  max-width: 100%;
}
button {
  outline: none;
  border: none;
}
section {
  padding: 0;
  margin: 0;
}
.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container {
  padding-left: 80px;
  padding-right: 0;
}
.block {
  display: inline-block;
  margin-right: -4px;
}
/* =======================================================
   Header
   ======================================================= */
header {
  background-color: #373c3f;
  padding: 0 0 0 40px;
}
nav li {
  position: relative;
  display: inline-block;  
}
ul.list {
  overflow: hidden;
}
ul.list li {
  padding: 35px 16px;
  font-size: 15px;
  line-height: 19px;
}
ul.list li:not(:first-child) {
   text-transform: uppercase;
}
ul.list li:first-child {
  display: none;
  padding: 25px 0px;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
}
ul.list li a {
  display: block;
}
/*Icon menu*/
.navbar-toggle {
  display: none;
  position: relative;
  float: right;
  padding: 25px 25px 28px 25px;
  margin: 0;
  background-color: #202529;;
  background-image: none; 
  border: 1px solid transparent;
  cursor: pointer;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin-top: 4px;
}
/* =======================================================
   Section - Banner
   ======================================================= */
.banner {
  background-image: linear-gradient(-45deg, #078aa4, #18b3c6);  
}
.banner-caption {
  padding: 140px 145px 170px 0;
}
.banner-caption h1 {
  color: #ffffff;
  font-size: 64px;
  line-height: 67px;
  font-weight: normal;  
}
.banner-caption a {
  color: #a5d1db;
  font-size: 35px;
  line-height: 44px;
}
.banner-caption a span {
  float: right;
  padding-right: 40px;  
}
.banner-caption a:hover{
  color: #ffffff;
}
.banner-caption .arrow:hover::before {
   color: #a5d1db;
} 
.arrow::before {
  content: ">";
  font: 40px 'Quicksand';
  color: #ffffff;
  line-height: 40px;
}
/* =======================================================
   Section - I'm like the Robin Hood
   ======================================================= */
.robin-hood {
  background-color: #27212c;
}
.robin-hood p {
  width: 75%;
  color: #9282a0;
  font-size: 31px;
  line-height: 35px;
}
.robin-hood .arrow {
  width: 25%;
  background-color: #bc3183;
  text-align: center;
  padding: 100px 0 ;
}
.robin-hood .arrow:hover::before {
  color:#9282a0;
  cursor: pointer;
}
.robin-hood .arrow::before {
  font-size: 50px;
}
/* =======================================================
   Section - Images
   ======================================================= */
.block-img {
  width: 33.33%;
  vertical-align: top;
}
/* =======================================================
   Section - Description
   ======================================================= */
.block-descr {
  background-color: #ebebeb;
  padding: 40px 30px 0 0;
}
.block-2 {
  width: 50%;
}
.block-descr h2 {
  color: #088ca5;
  font-size: 30px;
  line-height: 34px;
  font-weight: normal;
  margin: 10px 0 5px;
}
.block-2 p {
  color: #515151;
  padding: 0 50px 18px 0;
}
/* =======================================================
  RESPONSIVE
   ======================================================= */
@media only screen and (max-width: 980px) {
    /*Header*/
    .banner-caption h1 {
        font-size: 60px;
        line-height: 64px;
    }
    /*Banner*/
    .banner-caption {
        padding-right: 135px;
    }
    /*Robin Hood*/
    .robin-hood .arrow {
        border-top: 1px solid #ee56e0;
    }
    /*Description*/
    .block-descr h2 {
        margin: 15px 0 10px;
     }
}
@media only screen and (max-width: 768px) {
    /*General*/
    .container {
        padding-left: 40px;
    }
    .block-img, .block-2 {
        width: 100%;
    }
    /*Header nav*/
    ul.list li:first-child {
        display: inline-block;
    }
    ul.list li:not(:first-child) {
        display: none;
    }
    ul.list button {
        display: inline-block;
    }
    ul.list.responsive {
        position: relative;
    }
    ul.list.responsive button {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.list.responsive li {
        display: inline;
    }
    ul.list.responsive li a {
        display: block;
        text-align: left;
    }
    ul.list.responsive li:first-child {
        display: none;
    }
    /*Banner*/
    .banner-caption {
        padding: 85px 70px 85px 10px; 
    }
    .banner-caption h1 {
        font-size: 40px;
        line-height: 44px;
    }
    .banner-caption a {
        font-size: 22px;
        line-height: 26px;
    }
    .banner-caption .arrow::before {
         font-size: 25px;
         line-height: 24px;
    }
    /*Robin Hood*/
    .robin-hood {
        border-bottom: 1px solid #9a1ade;
    }
    .robin-hood .arrow {
        padding: 50px 0 ;
    }
    .robin-hood p {  
       font-size: 21px;
       line-height: 25px;
    }
    /*Description*/
    .block-descr h2 {
        margin: 25px 0 15px;
    }
    .block-2 p {
        font-size: 22px;
        line-height: 44px;
        padding-bottom: 24px;
    }
}
@media screen and (max-width: 480px) {
     /*General*/
    .container {
        padding-left: 20px;
    }
    /*Header nav*/
    ul.list li:first-child {
        font-size: 16px;
        line-height: 20px;
        padding: 12px 0 10px 0;
    }
    .navbar-toggle {
        padding: 15px;
    }
    .navbar-toggle .icon-bar {
        width: 20px;
        height: 2px;
    }
    /*Banner*/
    .banner-caption {
        padding: 40px 10px;
    }
    .banner-caption h1 {
        font-size: 20px;
        line-height: 24px;
    }
    .banner-caption a {
        font-size: 11px;
        line-height: 11px;
    }
    .banner-caption .arrow::before {
        font-size: 11px;
        line-height: 26px;
    }
    /*Robin Hood*/
    .robin-hood .arrow {
        padding: 18px 0;   
    }
    .robin-hood .arrow::before {
        font-size: 16px;
    }
    .robin-hood p {  
        font-size: 10px;
        line-height: 14px;
    }
    /*Description*/
    .block-descr {
        padding-left: 20px;
    }
    .block-descr h2 {
        margin: 0;
        font-size: 19px;
        line-height: 23px;   
    }
    .block-2 p {
        font-size: 14px;
        line-height: 26px;
        padding-right: 5px;
        padding-bottom: 18px;
    }
}
